*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    justify-content: center;
}
body{
    background-color: #dee1e2;
    min-height: 200vh;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    transition: 0.6s;
    padding: 20px 100px;
    z-index: 100000;
    background-color: white;
    box-shadow: 0 15px 15px rgba(0,0,0,0.05);
}
header .logo{
    position: relative;
    font-weight: 700;
    color: black;
    text-decoration: none;
    font-size: 30px;
    letter-spacing: 2px;
    transition: 0.6s;
    color: black;
    margin-right: 50px;
}
header ul{
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
}
header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    margin: 0 25px;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    transition: 0.6s;
}

/* header ul.nav-page li a::before{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}
header ul.nav-page li a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
} */

header .login{
    color: black;
    position: relative;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 18px;
    transition: 0.6s;
    text-decoration: none;
}
header .signup{
    color: white;
    background-color: black;
    padding: 15px;
    position: relative;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 15px;
    transition: 0.6s;
    text-decoration: none;
    border-radius: 30px;
}
header .logout{
    color: white;
    background-color: rgb(62, 62, 62);
    padding: 15px;
    position: relative;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 15px;
    transition: 0.6s;
    text-decoration: none;
    border-radius: 30px;
}

.image-container {
    position: relative;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    background-image: url(../img/car.png);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 100%;
    height: 600px;
    
}
.slogan{
    position: absolute;
    bottom: 300px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 4.5em;
    text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
}
.rentnow {
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.7em;
    padding: 0.6em 1.3em;
    background-color: black; /* Crimson Red */
    color: white;
    text-decoration: none;
    border-radius: 2em;
    font-weight: bold;
    transition:  0.3s ease;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 10px 45px rgb(72, 72, 72);
}
.rentnow:hover {
    transition: 0.3s ease-in-out;
    background-color: white; 
    color: black;
    box-shadow: 0 10px 45px white;
}

